<launch>	
	<!--<include file="$(find robotino_node)/launch/only_robotino_node.launch" ns="robot2">
		<arg name="hostname" value="192.168.1.100"/>
	</include>-->
	
	<node name="identification_program" pkg="degree_work" type="identification_node" output="screen" required="true">
		<param name="agent_name" value="robot2" />	
	</node>
	
	
</launch>
